{% load media %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Elena's Inbox | A Project of the Sunlight Foundation</title>
  <link rel="stylesheet" href="{% media_url %}/style.css" type="text/css" media="screen" />
  <link rel="shortcut icon" href="{% media_url %}/images/favicon.png"/>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="{% media_url %}/scripts/jquery.cookie.js"></script>
  <script type="text/javascript" src="http://services.sunlightlabs.com/brandingbar/hat_js/elenasinbox/"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1265484-57']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
    function RecordID(cookie_name, id) {
      var current_cookie = $.cookie(cookie_name);
      if (current_cookie===null)
        current_cookie = '';
      var cookie_array = current_cookie.split(',');
      cookie_array.push(id);
      $.cookie(cookie_name, cookie_array.join(','), { path: '/', expires: 365 });
    }

    function RemoveID(cookie_name, id) {
      var current_cookie = $.cookie(cookie_name);
      var cookie_array = current_cookie.split(',');
      var new_cookie_array = Array();
      for(var i=0;i<cookie_array.length;i++)
        if((cookie_array[i]!=id)&&(cookie_array[i]!=''))
          new_cookie_array.push(cookie_array[i]);
      $.cookie(cookie_name, new_cookie_array.join(','), { path: '/', expires: 365 });
    }

  </script>

</head>

<body>
<div id="wrap">

  <div id="navigation">
    <ul>
      <li class="current_page_item"><a href="/">Home</a></li>
      {# <li><a href="/">Contacts</a></li>       #}
    </ul>
    <div class="signout"><strong>ekagan@whitehouse.gov</strong>&nbsp;|&nbsp;<a href="http://www.sunlightfoundation.com">Sign out</a></div>
  </div>

  <div id="header">
    <a href="/"><img src="{% media_url %}/images/header-bg.png" id="logo" /><h1>Elena's Inbox</h1></a>A project of the <a id="sunlight" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
  </div>

  <form method="get" id="top_search" action="/search/">
    <input type="text" size="22" value="" name="q" id="top_text" /><input type="submit" id="top_submit" value="Search" />
  </form>

  <div id="content">
    <div id="content_top"></div>
		
		{% block content %}{% endblock %}

  	<div style="clear:both;height:10px;"></div>

    <div id="content_bottom"></div>
  </div>

  <div id="sidebar">

    <div id="first-box">
      
      {% block navigation %}{% endblock %}

    </div>

  	<h2>Sample Searches</h2>
  	<ul>
  	  <li><a href="/search/?q=%22brady+checks%22">"Brady checks"</a></li>
  	  <li><a href="/search/?q=firestorm">firestorm</a></li>
  	  <li><a href="/search/?=%225th commandment%22">"5th commandment"</a></li>
  	  <li><a href="/search/?q=%22making+the+President+look+like+a+liar%22">"making the President look like a liar"</a></li>
  	  <li><a href="/search/?q=%22pervasively+sectarian%22">"pervasively sectarian"</a></li>
  	  <li><a href="/search/?q=unbelievable">unbelievable</a></li>
  	  <li><a href="/search/?q=%22red sage%22">"red sage"</a></li>
  	</ul>
  	
  	
  	<div class="green">
  	<h2>About</h2>
  	<ul>
  	  <li>This site parses the <a class="underline" href="http://www.clintonlibrary.gov/textual-Kagan-COMPOSED-EMAIL.htm">emails sent by Elena Kagan</a> during her time in the Clinton administration and presents them in a more familiar interface.</li>
  	  <li>You may find that some records are garbled or incomplete, or that conversations are fractured.  Please bear with us: the source documents are extremely messy.  We're working to improve the quality of the documents hosted here.</li>
  	</ul>
  	</div>
			
  </div>

  <div id="coverage">
    You are able to view 4625 of the 4765 released emails (97.1%)
  </div>

  <div id="footer">
    Initial site idea by <a href="http://twitter.com/BobBrigham">@BobBrigham</a>&nbsp;|&nbsp;Design adapted from WP theme by <a href="http://www.bingowebdesign.info">Bingo</a>&nbsp;|&nbsp;Source code and data available via <a href="http://github.com/sunlightlabs/elenas_inbox/tree/master/">GitHub</a>
  </div>
  
</div>

<script type="text/javascript">
var _sf_async_config={uid:980,domain:"elenasinbox.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
       "static.chartbeat.com/js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
</body>
</html>