{% extends "base.html" %}

{% block page_title %}{{ thread.name }} | Elena's Inbox{% endblock %}

{% block navigation %}
<ul>
  <li class="disabled">Inbox</li>
  <li><a href="/">Sent Mail</a></li>
  <li class="disabled">Drafts</li>
  <li class="disabled">All Mail</li>
  <li><a href="/starred/all/">Starred (all)</a></li>
  <li><a href="/starred/">Starred (by you)</a></li>        
</ul>
{% endblock %}

{% block content %}

<script type="text/javascript">
var starred = GetArrayOfIDs('kagan_star');
</script>

<label id="back-wrapper"><a href="javascript:window.history.go(-1)">&laquo;&nbsp;Back</label>

{% for email in emails %}
  
  <div class="entry_body_top"></div>
  <div class="entry_body" id="email-{{ email.obj.id }}">
  	{% if forloop.first %}<script type="text/javascript">document.write((IsMarked(starred, '{{ thread.id }}')) ? '<a href="#" rel="{{ thread.id }}" class="star on"></a>' : '<a href="#" rel="{{ thread.id }}" class="star"></a>');</script>{% endif %}
  	<h1><a href="/thread/{{ thread.id }}/#email-{{ email.obj.id }}" rel="bookmark" title="Permanent Link to '{{ email.obj.subject }}'">{{ email.obj.subject }}</a></h1><span class="entry_date">{{ email.obj.creation_date_time|date:"f A d M Y" }}</span>
    <table class="addressees">
      {% if email.to_html %}
      <tr>
        <td>to:</td>
        <td>{{ email.to_html|safe }}</td>
      </tr>
      {% endif %}
      {% if email.cc_html %}
      <tr>
        <td>cc:</td>
        <td>{{ email.cc_html|safe }}</td>
      </tr>
      {% endif %}
    </table>
    <pre>
      {{ email.obj.text|safe }}
    </pre>
    
    {% if email.obj.attachment %}
      <label class="attachment-label">Attachment</label>
      <div class="attachment">{{ email.obj.attachment|safe }}</div>
    {% endif %}
  </div>
  <div class="entry_body_bottom"></div>

{% endfor %}

<script type="text/javascript">
$(function(){
  RecordID('kagan_read', '{{ thread.id }}');
  
  // star functionality
  $('a.star').click(function(){
    var thread_id = $(this).attr('rel');

    if($(this).hasClass('on')) {
      RemoveID('kagan_star', thread_id);
      $.getJSON('/star/ajax/' + thread_id + '/remove/', function(data) { });
    }
    else {
      RecordID('kagan_star', thread_id);
      $.getJSON('/star/ajax/' + thread_id + '/add/', function(data) { });
    }

    $(this).toggleClass('on');

    return false;
  });
});
</script>

{% endblock %}